DB_DRIVER = "mysql"
DB_SOURCE = "database/forum.db"
DB_HOST="localhost"
DB_PORT=3306
DB_USERNAME="root"
DB_PASSWORD=""
DB_NAME="forum_db"


FILE_STORAGE_TYPE="local" # or "s3"
FILE_STORAGE_PATH="./uploads"

# S3 Configuration
S3_REGION="id-id"
S3_BUCKET="cwdforum"
S3_ACCESS_KEY="herd"
S3_SECRET_KEY="secretkey"
S3_FILE_URL = "https://minio.herd.test"
S3_ENDPOINT="https://minio.herd.test"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0

LOG_LEVEL="debug"
LOG_IS_PRODUCTION=true
LOG_DISABLE_STACK_TRACE=true